
{{#if courses.length}}  
{{#each courses}}
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="card">
                <span style="margin: 20px" class="card-title ">{{title}}</span>
                <div class="col card-image s12">
                    <img src="{{image}}" alt="{{title}}">
                </div>
                <div class="card-content">
                    
                    <p class="price">{{description}}</p>
                </div>
                <div class="card-action">
                    <a style="text-shadow: none;" href="/courses/{{id}}" target="_blank">Open course</a>
                </div>
            </div>
        </div>
    </div>
{{/each}}
{{else}}
    <p>There are no courses yet!</p>
{{/if}} 