<div class="container">      
    <div class="row">
{{#each results.tickets}}
        <div class="col s12">
            <div class="card cyan lighten-5">
                <div class="card-content black-text">
                    <span class=" card-title answer question" style="font-weight: 700;"> Question: {{question}}</span>
                        
                        {{#if isRight}}
                            <p class="isright">Right answer</p>
                        {{else}}
                            <p class="wrong">Wrong answer</p>
                        {{/if}}
                        {{#if isRight}}
                        <p class="isright">Your answer: {{givenAnswer}}</p>
                        {{else}}
                        <p class="wrong">Your answer: {{givenAnswer}}</p>
                        <div class="card-action">
                            <p class="answer">Right answer: {{rightAnswer}}</p>
                            {{!-- <p class="explain">Explanation: {{explanation}}</p> --}}
                        </div>
                        {{/if}}
                        
                    
                </div>
            </div>
        </div>       
  
{{/each }}
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card cyan lighten-3">
                <div class="card-content black-text">
                    <span style ="font-size: 2.5rem; font-weight: 800;" class="card-title answer">Results</span>
                        <b>Completeness:</b> <b  id="completeness">{{results.stats.completeness}}</b>
                        <br>
                        <b>Integrity:</b><b  id="integrity">{{results.stats.integrity}}</b>
                        <br>
                        <b>Skills:</b><b  id="skills">{{results.stats.skills}}</b>
                        <br>
                        <b  style ="font-size: 1.5rem" id="avg">Avg: {{avg}}</b>
                        <br>
                        <b  style ="font-size: 2rem"id="grade">Grade: {{grade}}</b> 
                        <br>
                        
                    <div class="card-action">
                        
                    </div>
                </div>
            </div>
        </div>
   
    </div>
</div>

<div class="container" style="border:1px solid #ccc; width:550px; height:500px;padding:5px">
    <canvas id="popChart" width="400" height="400"></canvas>
</div>
<div>
    <h1 style="text-align:center"><a href="/profile">To results</a></h1>
</div>
<script>

var popCanvas = document.getElementById("popChart").getContext("2d");
var completeness = document.getElementById("completeness").innerText
var integrity = document.getElementById("integrity").innerText
var skills = document.getElementById("skills").innerText    

var radar = new Chart(popCanvas, {
  type: 'radar', 
  data: {
    labels: ["Completeness" , "Integrity"  , "Skills" ],
    datasets: [{
      label: 'Grades',
      data: [completeness,integrity, skills],
      backgroundColor: [
        
        'rgba(54, 162, 235, 0.6)',
        'rgba(255, 206, 86, 0.6)',
        'rgba(255, 99, 132, 0.6)'
      ]
    }]
  },
  options: {
    legend: {
        display: true,
        labels: {
            fontSize: 20
        }
    },
    elements: {
        line: {
            borderWidth: 3
        }
    },
    plugins: {
        legend: {
            labels: {
                // This more specific font property overrides the global property
                font: {
                    size: 24
                }
            }
        }
	},
    scales: {
        r: {
            pointLabels: {
                font: {
                    size: 20
                }
            }
        }
    },
    scale:{
        r :{
            angleLines: {
                display: false
            },
            beginAtZero: true,
            min: 0,
            max: 1
        }
    }
  }
});

</script>

        